.theme-start {
  /*background-color: #0078ae;*/
}
.maxHeight {
  height:100vh;
}
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}
footer {
 position: fixed;
  bottom: 0;
  width: 100%;
  height: 40px;
  text-align: right;
  background-color: #f2f4f6;
  /*background-color: #e8d7c5;*/
  opacity: .95;
  box-shadow: 0 -2px 6px;
}
