 <p-panel header="Title" [toggleable]="true">
 
 <div class="ui-widget-header" style="padding:4px 10px;border-bottom: 0 none">
      <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
      <input #gb type="text" pInputText size="50" placeholder="Global Filter">
      <button pButton label="Nuevo Correlativo" icon="fa-list-ol" iconPos="left" (click)="newRecord()"></button>
    </div> 
    <p-dataTable [value]="store" [rows]="8" [lazy]="true" (onLazyLoad)="loadData($event)" [totalRecords]="totalRecords" [paginator]="true" [globalFilter]="gb" selectionMode="single" [(selection)]="correlativo" #dt>
      <p-column field="correlativo" header="Correlativo" sortable="true"></p-column>
      <p-column field="isPrinted" header="Asignado"></p-column>
      <p-column field="creation_date" header="Fecha Registro" [style]="{'text-align':'center'}">
      	<ng-template pTemplate="body" let-col let-correlativo="rowData">{{ correlativo.creation_date | date: 'dd/MM/yyyy HH:mm' }}</ng-template>
      </p-column>
      <p-footer><div style="text-align: left">Selected Correlativo: {{correlativo ? correlativo.correlativo: 'none'}}</div></p-footer>
  </p-dataTable>
  
</p-panel>

