<p-growl [(value)]="msgs"></p-growl>
 <div class="ui-widget-header" style="padding:4px 10px;border-bottom: 0 none">
     <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
     <input #gb type="text" pInputText size="50" placeholder="Global Filter">
     <button pButton label="Nuevo Correlativo" icon="fa-list-ol" iconPos="left" (click)="newRecord()"></button>
</div> 
<p-dataTable [tableStyle]="{'table-layout':'auto'}" [value]="store" [rows]="20" [lazy]="true"  [immutable]="false" (onLazyLoad)="loadData($event)" [totalRecords]="totalRecords" [paginator]="true" [globalFilter]="gb" selectionMode="single" [(selection)]="correlativo" #dt>
    <p-column field="correlativo" header="Correlativo" sortable="true"></p-column>
    <p-column field="isPrinted" header="Asignado" [style]="{'text-align':'center'}">
    	<ng-template let-car="rowData" pTemplate="body">
          <button type="button" pButton (click)="selectCar(car)" icon="fa-search"></button>
      </ng-template>
    </p-column>
    <p-column field="creation_date" header="Fecha Registro" [style]="{'text-align':'center'}">
    	<ng-template pTemplate="body" let-col let-correlativo="rowData">{{ correlativo.creation_date | date: 'dd/MM/yyyy HH:mm' }}</ng-template>
    </p-column>
    <p-column field="correlativo" header="Nro. Impresion" [style]="{'width':'90px', 'text-align':'center'}"></p-column>
    <p-column field="isPrinted" header="Re-Impresion" [style]="{'text-align':'center'}">
    	<ng-template let-numero="rowData" pTemplate="body">
          <button type="button" pButton (click)="reimprimir(numero)" icon="fa-print" class="ui-button-warning"></button>
      </ng-template>
    </p-column>
    <p-footer><div style="text-align: left">Selected Correlativo: {{ correlativo ? correlativo.correlativo: 'none' }}</div></p-footer>
</p-dataTable>